# DO NOT USE NOTEPAD TO EDIT CONFIG FILES!! USE NOTEPAD ++ INSTEAD.
# Authentication settings
#auth-service:          # ptc (default) or google
#username:
#password:

# Database settings
#db-type: sqlite        # sqlite (default) or mysql
#db-host:               # required for mysql
#db-name:               # required for mysql
#db-user:               # required for mysql
#db-pass:               # required for mysql
#db-port:               # default 3306

# Search settings
#location:
#no-gyms:               # disables gym scanning (default false)
#no-pokemon:            # disables pokemon scanning (default false)
#no-pokestops:          # disables pokestop scanning (default false)
#scan-delay:            # default 10
#step-limit:            # default 12
#gym-info:              # enables detailed gym info collection (default false)
#max-failures:          # Maximum number of failures to parse locations before an account will go into a sleep for #account-rest-interval seconds (0 to disable), (default 5)
#max-empty:             # Maximum number of empty scans before an account will go into a sleep for #account-rest-interval seconds. Reasonable to use with proxies (0 to disable), (default 0)
#min-seconds-left:      # time that must be left on a spawn before considering it too late and skipping it (default 0)
#status-name:           # enables writing status updates to the database - if you use multiple processes, each needs a unique value
#speed-limit:           # Maximum speed between jumps in KM/hr (default 32)
#altitude               # Default altitude in meters. Used when GMaps Elevation API fails (default 13)
#altitude_range:        # Additional range for --altitude in meters (default 2)

#Pokemon IV 
#encounter:             # Set to true to start encounters to pull more info, like IVs or movesets. (default false)
#encounter-delay:       # delay in seconds before starting an encounter. Must not be zero. (default 1)
#encounter-whitelist:   # whitelist of pokemon ids to encounter. Syntax [id,id,id,id] (Do not use with blacklist)
#encounter-blacklist:   # blacklist of pokemon ids to NOT encounter. Syntax [id,id,id,id] (Do not use with whitelist)

# Misc
#gmaps-key:             # your Google Maps API key
#proxy:                 # Proxy URL e.g. socks5://127.0.0.1:9050 or a list of proxies e.g. [socks5://127.0.0.1:9050,socks5://127.0.0.1:9050]
#proxy-timeout:         # Timeout before proceeding with next proxy while checking if the proxy works (default 5)
#proxy-display:         # Format to display used proxy. full = display complete proxy address. index = displays just the index for that proxy (default 'full').
#proxy-file:            # Load proxy list from text file (one proxy per line), overrides #proxy
#proxy-refresh:         # Period of proxy file reloading, in seconds. Works only with #proxy-file (0 to disable) (default 0)
#proxy-rotation:        # Enable proxy rotation with account changing for search threads (none/round/random) (default 'none')
#webhook:               # webhook URL (including http://)
#webhook-updates-only:  # only send updates to webhooks, (excludes gyms & non-lured pokéstops)
#clean-timers-data:     # Set previous spawns as unvalid for new disappear_time prediction (default False)
#only-unvalid:          # Skips spawnpoints with already a valid time. Use this to focus on remaining spawnpoints with unvalid time (use with --skip-empty) (default False)

# Captcha Handling
#captcha-solving:       # Enables captcha solving (default False)
#captcha-key:           # 2Captcha API key
#captcha-dsk:           # PokemonGo captcha data-sitekey (default '6LeeTScTAAAAADqvhqVMhPpr_vB9D364Ia-1dSgK')
#manual-captcha-solving-domain:             # Manual captcha solving domain (default http://127.0.0.1:5000)
#manual-captcha-solving-allowance-time:     # Manual captcha solving allowance time (default 60)
#manual-captcha-solving-password:           # Manual captcha solving password (default '1234')

# Webserver settings
#host:                  # address to listen on (default 127.0.0.1)
#port:                  # port to listen on (default 5000)
#locale:                # pokemon translation
#ssl-certificate:       # path to ssl certificate
#ssl-privatekey:        # path to ssl private key
#encrypt-lib:           # path to encrypt lib to be used instead of the shipped ones
#status-page-password:  # enables and protects the /status page to view status of all workers

#Uncomment a line when you want to change its default value (Remove # at the beginning)
#Please ensure to leave a space after the : (example setting: value)
#username, password, location and gmaps-key are required
