<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PoGoTuga Map - Bookmarklet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/app.min.css').lstrip('/') }}">
</head>
<body style="padding:20px">
    <div id="instructions">
        <h3>Não guardar esta página nos <i>Bookmarks</i></h3>
        <p>A página a guardar nos marcadores/<i>bookmarks</i> é o <i>link</i> abaixo: <strong>Solve Recaptcha - PoGoTuga</strong>.<br>Podem arrastar o <i>link</i> diretamente para a barra de atalhos do <i>browser</i>.</p>
        <p>Devem verificar que o URL da página que estão a guardar começa com "javascript:".</p>
    </div>
<script>
document.write("<a href=\"javascript:(function(){if(window.location.href!='http://pgorelease.nianticlabs.com/'){window.location.href='http://pgorelease.nianticlabs.com/'}else{document.getElementsByTagName('head')[0].appendChild(document.createElement('script')).src='"+window.location.protocol+"//"+window.location.hostname+":"+window.location.port+"/inject.js?'+Math.random();}}());\"><h3 style=\"text-decoration:underline;color:#5AA6ED\">Solve Recaptcha - PoGoTuga</h3></a>")
</script>
</body>
</html>
