<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pogotuga Map - Statistics</title>

    <!-- Fav- & Apple-Touch-Icons -->
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='appicons/favicon.ico').lstrip('/') }}" type="image/x-icon">
    <!-- non-retina iPhone pre iOS 7 -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='appicons/114x114.png').lstrip('/') }}" sizes="57x57">
    <!-- non-retina iPad pre iOS 7 -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='appicons/144x144.png').lstrip('/') }}" sizes="72x72">
    <!-- non-retina iPad iOS 7 -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='appicons/152x152.png').lstrip('/') }}" sizes="76x76">
    <!-- retina iPhone pre iOS 7 -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='appicons/114x114.png').lstrip('/') }}" sizes="114x114">
    <!-- retina iPhone iOS 7 -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='appicons/120x120.png').lstrip('/') }}" sizes="120x120">
    <!-- retina iPad pre iOS 7 -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='appicons/144x144.png').lstrip('/') }}" sizes="144x144">
    <!-- retina iPad iOS 7 -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='appicons/152x152.png').lstrip('/') }}" sizes="152x152">
    <!-- retina iPhone 6 iOS 7 -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='appicons/180x180.png').lstrip('/') }}" sizes="180x180">

    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/app.min.css').lstrip('/') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/statistics.min.css').lstrip('/') }}">
    <script src="{{ url_for('static', filename='js/vendor/modernizr.custom.js').lstrip('/') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.9.1/polyfill.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/skel/3.0.1/skel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script>
      var centerLat = {{lat}};
      var centerLng = {{lng}};
    </script>
    <script src="{{ url_for('static', filename='dist/js/map.common.min.js').lstrip('/') }}"></script>
</head>
<body>
        <!-- Header -->
        <header id="header">
          <a href="#nav">Options</a>
          <h1><a href="./">Pogotuga Map</a></h1>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" style="float: right; margin: 6px 10px 0 10px;">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="Y59GMQLE7ZHA2">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
          <a href="http://pogotuga.club/apoiantes/" target="_blank" id="supporters" style="float: right;">
            <i class="fa fa-heart-o" aria-hidden="true"></i>
            <span class="label" style="margin-left:5px">Supporters</span>
          </a>
        </header>
        <nav id="nav">
          <div class="ui-accordion-content">
            {% for name, item in valid_input.items() %}
                <div class="form-control switch-container">
                  <h3>{{item.display}}</h3>
                  <select id="{{name}}" name="{{name}}" class="input">
                      {% for value, entry in item["items"].items() %}
                          <option value="{{value}}" {{entry.selected}}>{{entry.display}}</option>
                      {% endfor %}
                  </select>
                </div>
            {% endfor %}
          </div>
        </nav>
        <div class="totals">
            <h3 id="seen_header"></h3>
            <h1 id="seen_total"></h1>
        </div>
        <div id="loading"><img src="{{ url_for('static', filename='images/loading.gif').lstrip('/') }}" alt="Loading"/></div>
        <div class="container" id="seen_container">
        </div>
        <div id="location_details" class="overlay">
            <div class="close" onclick="closeOverlay();"><img src="{{ url_for('static', filename='images/close.png').lstrip('/') }}" alt="Close" /></div>
            <div class="location_header"><h3 id="location_header"></h3></div>
            <div class="content">
                <div id="times_list" style="display: none;"></div>
                <div id="location_map">
                    <script src="https://maps.googleapis.com/maps/api/js?key={{ gmaps_key }}&amp;libraries=visualization"></script>
                </div>
            </div>
        </div>
    <script src="{{ url_for('static', filename='dist/js/app.min.js').lstrip('/') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/statistics.min.js').lstrip('/') }}"></script>
    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-84557488-1', 'auto');
      ga('send', 'pageview');
    </script>
</body>
</html>
